* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
} 
body{
    border: 1px #316B83;
    background-image: url(bg2.jpg);
    background-size: cover;
    background-attachment: fixed;

}
h1{
    color: #043f58;
    font-size: 4.5vw;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 0vw;
}
h2{
    color: #316B83;
    font-family: 'Permanent Marker', cursive;
    font-size: 3vw;
    text-align: center;
    margin-bottom: 2%;
    text-decoration: underline;
    background-color: #8bc0e4;
}
.home_content img{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 0%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.4vw;
    width: 15%;
    align-content: center;
    border-color: 1px #316B83;

}
.home_content h1{
    justify-content: center;
    text-align: center;
     font-size: 2vw; 
     color:#8bc0e4;  
     text-shadow: turquoise;
     font-family: 'Pacifico', cursive;
     margin-top: 1.6vw;
     font-weight: normal;
}
.home_content h3{
    justify-content: center;
    text-align: center;
     font-size: 2.3vw; 
     color: rgb(16, 47, 65);  
     text-shadow: turquoise;
     font-family: 'Pacifico', cursive;
     padding-left: 40vw;
     padding-right: 40vw;
     margin-top: 1.6vw;
     font-weight: normal;
}

.navbar{
    display: flex;
    justify-content: center;
    
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style:  none;
    margin: 4vw 0px;
    background: rgb(81, 142, 167);
    background-size: 100px 100px;
}
.navbar ul li{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5vw;
    margin-bottom: 1vw;
    margin-top: 0.5vw;
    font-weight: bold;
    color: white;  
}
.navbar ul li a{
    padding: 0.8vw 1.5vw;
    color: white;
}
#Home{
    display: flex;
    flex-direction: column;
}
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 5vw;
    margin-top: 2vw;
}
#pic{
    display: flex;
}
#pic img{
    width: 40vw;
    height: 42vw;
    margin-left: 0.1vw;
    margin-top: 4.6vw;
}
.intro p{
    padding-left: 5%;
    padding-right: 0vw;
    color: #026fa1;
    font-size: 1.7vw;
    font-family: 'Architects Daughter', cursive;
    margin-bottom: 0.8vw;
    margin-right: 1.5vw;
}
.intro h3{
    margin-top: 0.8vw;
    padding-left: 5%;
    padding-right: 0vw;
    color: rgb(2, 60, 87);
    font-size: 2vw;
    margin-bottom: 1.2vw;
    text-decoration: underline;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}
.details{
       display: flex;
       flex-direction: column;
       text-align: justify;
       color: white;
}
.details p{
    padding-left: 5%;
    padding-right: 5%;
    color: #026fa1;
    font-size:1.7vw;
    
}
.details pre{
    padding-left: 5%;
    padding-right: 5%;
    color: #026fa1;
    font-size: 1.7vw;
    margin-bottom: 1vw;
    
}
.details h3{
    margin-top: 0.4vw;
    padding-left: 5%;
    padding-right: 5%;
    color: rgb(2, 60, 87);
    font-size: 2vw;
    margin-bottom: 1vw;
    text-decoration: underline;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}
@media(max-width: 650px){
    .navbar{
        display: flex;
        justify-content: center;
        
        position: sticky;
        top: 0;
    }
    .navbar ul{
        display: flex;
        list-style:  none;
        margin: 4vw 0px;
        background: rgb(81, 142, 167);
        background-size: 100px 100px;
    }
    .navbar ul li{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 2.3vw;
        margin-bottom: 1vw;
        margin-top: 0.5vw;
        font-weight: bold;
        color: white;  
    }
    .navbar ul li a{
        padding: 0.8vw 1.5vw;
        color: white;
    }
    .home_content img{
        display: flex;
        justify-content: center;
        border-radius: 50%;
        margin-bottom: 0%;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.4vw;
        width: 18%;
        align-content: center;
        border-color: 1px #316B83;
    }
    .home_content h1{
        justify-content: center;
        text-align: center;
         font-size: 2.5vw; 
         color:#8bc0e4;  
         text-shadow: turquoise;
         font-family: 'Pacifico', cursive;
         margin-top: 1.6vw;
         font-weight: normal;
    }
    .home_content h3{
        justify-content: center;
        text-align: center;
         font-size: 3vw; 
         color: rgb(16, 47, 65);  
         text-shadow: turquoise;
         font-family: 'Pacifico', cursive;
         padding-left: 40vw;
         padding-right: 40vw;
         margin-top: 1.6vw;
         font-weight: normal;
    }
    h1{
        color: #043f58;
        font-size: 6vw;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 0vw;
    }
    h2{
        color: #316B83;
        font-family: 'Permanent Marker', cursive;
        font-size: 4.5vw;
        text-align: center;
        margin-bottom: 2%;
        text-decoration: underline;
        background-color: #8bc0e4;
    }
    #Home{
        display: flex;
        flex-direction: column;
    }
    #about{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin-bottom: 5vw;
        margin-top: 2vw;
    }
    #pic{
        display: flex;
    }
    #pic img{
        width: 40vw;
        height: 42vw;
        margin-left: 0.1vw;
        margin-top: 15vw;
    }
    .intro p{
        padding-left: 5%;
        padding-right: 0vw;
        color: #1186bd;
        font-size: 2.2vw;
        font-family: 'Architects Daughter', cursive;
        margin-bottom: 0.8vw;
        margin-right: 1vw;
    }
    .intro h3{
        margin-top: 0.8vw;
        padding-left: 5%;
        padding-right: 0vw;
        color: rgb(2, 60, 87);
        font-size: 2.7vw;
        margin-bottom: 1.2vw;
        text-decoration: underline;
        text-align: center;
        font-family: 'Architects Daughter', cursive;
    }
    .details{
           display: flex;
           flex-direction: column;
           text-align: justify;
           color: white;
    }
    .details p{
        padding-left: 5%;
        padding-right: 5%;
        color: #026fa1;
        font-size:2vw;
        
    }
    .details pre{
        padding-left: 5%;
        padding-right: 5%;
        color: #026fa1;
        font-size: 2.3vw;
        margin-bottom: 1vw;
        
    }
    .details h3{
        margin-top: 0.8vw;
        padding-left: 5%;
        padding-right: 5%;
        color: rgb(2, 60, 87);
        font-size: 2.3vw;
        margin-bottom: 1.2vw;
        text-decoration: underline;
        text-align: center;
        font-family: 'Architects Daughter', cursive;
    }
}
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
background-color: #316B83;
    color: #316B83;
    padding: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 2vw 0px;
}
.input{
    padding: 1vw;
    margin: 1vw;
    width: 23%;
    color: black;
    background-color: rgb(171, 208, 233);
    border: 0.2vw solid #316B83;
    outline: none;
    color: black;
    border-radius: 2vw;
    outline: none;
}
.input:focus{
    width: 28%;
    border-color: rgb(0, 183, 255);
    border-width: 0.2vw;
}
#message{
    width: 17%;
    padding: 1vw;
    margin: 1vw;
    color: black;
    background-color: rgb(171, 208, 233);
    border: 0.2vw solid #316B83;
    border-radius: 2vw;
    outline: none;
}  
#message:focus{
    width: 20%;
    border-color: rgb(0, 183, 255);
    border-width: 0.2vw;
}
#send{
    padding: 1vw;
    margin: 1.3vw;
    width: 10%;
    color: black;
    background-color: rgb(171, 208, 233);
    border: 0.2vw solid #316B83;
    color: black;
    border-radius: 2vw;
}
#send:focus{
    width: 15%;
    border-color: rgb(0, 183, 255);
    border-width: 0.2vw;
}
#send:hover{
    cursor: pointer;
    box-shadow:  0 0 1vw white;
}
@media(max-width: 650px){
    .input{
        padding: 1vw;
        margin: 1vw;
        width: 30%;
        color: black;
        background-color: rgb(171, 208, 233);
        border: 0.2vw solid #316B83;
        outline: none;
        color: black;
        border-radius: 2vw;
        outline: none;
    }
    .input:focus{
        width: 35%;
        border-color: rgb(0, 183, 255);
        border-width: 0.2vw;
    }
    #message{
        width: 25%;
        padding: 0.5vw;
        margin: 1vw;
        color: black;
        background-color: rgb(171, 208, 233);
        border: 0.2vw solid #316B83;
        border-radius: 2vw;
        outline: none;
    }  
    #message:focus{
        width: 30%;
        border-color: rgb(0, 183, 255);
        border-width: 0.2vw;
    }
    #send{
        padding: 1vw;
        margin: 3vw;
        width: 15%;
        color: black;
        background-color: rgb(171, 208, 233);
        border: 0.2vw solid #316B83;
        color: black;
        border-radius: 2vw;
    }
    #send:focus{
        width: 19%;
        border-color: rgb(0, 183, 255);
        border-width: 0.2vw;
    }
}
.container{
   justify-content: center;
    
    align-items: center;
    display: flex;
}

.fab{
     color: #115572;
     align-items: center;
    padding-bottom: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;
}
@media(max-width: 500px){
    .container{
        justify-content: center;
         
         align-items: center;
         display: flex;
     }
     
     .fab{
          color: #115572;
          align-items: center;
          margin-top: 2vw;
         padding-bottom: 2vw;
         padding-left: 1vw;
         padding-right: 1vw;
     }
}